@model  Amazon.Web.Models.viewModels.CategorySearchViewModels
@{
    ViewBag.Title = "CategoryTable";
}

<link href="~/Content/stylesheets/datatables/dataTables.css" rel="stylesheet" />
<script src="~/Content/javascript/datatables/js/jquery.dataTables.min.js"></script>

<div class="container">
    <!--showing all products in table-->
    <div class="title-section">
        <h2 class="title">
            Categories
        </h2>
    </div>
    <div class="my-4">
        <form method="post" class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <input id=searchTxt name="Search" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <button type="button" id="searchBtn" class="btn-primary ">Search</button>
                        <button type="button" id="newBtn" class="btn-primary ">New</button>

                    </div>
                </div>
            </div>

        </form>
    </div>

    <table id="productTable" class="table table-bordered">
        <thead>

            <tr>
                <td>Category Name</td>
                <td>Description</td>
                <td>Actions</td>

            </tr>
        </thead>
        <tbody>
            @if (Model.categoryList != null && Model.categoryList.Count > 0)
            {
                foreach (var category in Model.categoryList)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>@category.Description</td>
                        <td class="themesflat-button-custom">
                            <button class="editButton  bg-accent" data-id="@category.ID" category="@category.ID">Edit</button>
                            <button class="deleteBtn  bg-accent" data-id="@category.ID">Delete</button>
                        </td>
                    </tr>

                }
            }
            else
            {
                <tr>
                    <td class="text-danger" colspan="4">Product Not found</td>
                </tr>
            }

        </tbody>

    </table>
    <div>
        @if (Model.pager != null)
        {



            if (Model.pager.CurrentPage > 1)
            {
                <button class="PreviousRecords" data-pageno="1">First</button>
                <button class="PreviousRecords" data-pageno="@(Model.pager.CurrentPage-1)">Previous</button>
            }

            for (var page = Model.pager.StartPage; page <= Model.pager.EndPage; page++)
            {
                string activeClass = Model.pager.CurrentPage == page ? "active bg-info" : string.Empty;

                <button class="@activeClass  PreviousRecords" data-pageno="@page">@page</button>
            }

          

            if (Model.pager.CurrentPage < Model.pager.EndPage)
            {

                <button class="PreviousRecords" data-pageno="@(Model.pager.CurrentPage + 1 )"> Next</button>
                <button class="PreviousRecords" data-pageno="@Model.pager.EndPage">Last</button>
            }

        }

    </div>

</div>

<script>
    @* $('#productTable').DataTable();*@

    $(".deleteBtn").click(function () {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this imaginary file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        type: 'POST',
                        url: '/Category/Delete',
                        data: {
                            ID: $(this).attr('data-id')
                        }
                    })
                        .done(function (responce) {
                            debugger;
                            $("#tableContiner").html(responce);
                            // location.reload();

                            swal("Poof! Your imaginary file has been deleted!", {
                                icon: "success",
                            });

                        })
                        .fail(function (XMLHTTpRequest, textStatus, errorThrown) {
                            swal("Failed!", {
                                icon: 'error',
                                title: 'Oops...',
                                text: XMLHTTpRequest.responseText,
                                footer: '<a href="">Why do I have this issue?</a>'
                            });
                        })
                }
            });


    });




    $(".editButton").click(function () {
        $.ajax({
            url: '/Category/Edit',
            data: {
                ID: $(this).attr('data-id')
            }
        })
            .done(function (responce) {
                debugger;
                $("#actionContainer").html(responce);
            })
            .fail(function (XMLHTTpRequest, textStatus, errorThrown) {
                swal("Failed!", {
                    icon: 'error',
                    title: 'Oops...',
                    text: XMLHTTpRequest.responseText,
                    footer: '<a href="">Why do I have this issue?</a>'
                });
            })
    });

    $(".PreviousRecords").click(function () {
        var searchValue = $("#searchTxt").val();

        $.ajax({
            url: '@Url.Action("CategoryTable", "Category")',
            data: {
                pageNo: $(this).attr("data-pageno"),
                search: '@Model.searchKeyword'
            }
        }).done(function (responce) {
            $("#tableContiner").html(responce);
        }).fail(function (XMLHTTpRequest, textStatus, errorThrown) {
            swal("Failed!", {
                icon: 'error',
                title: 'Oops...',
                text: XMLHTTpRequest.responseText,
                footer: '<a href="">Why do I have this issue?</a>'
            });
        })
    });


    $("#searchBtn").click(function () {
        var searchValue = $("#searchTxt").val();

        $.ajax({
@*            url: '/Category/CategoryTable',
*@
            url: '@Url.Action("CategoryTable", "Category")',
            data: {
               search: searchValue
            }
        })
            .done(function (responce) {
                $("#tableContiner").html(responce);
            })
            .fail(function (XMLHTTpRequest, textStatus, errorThrown) {
                swal("Failed!", {
                    icon: 'error',
                    title: 'Oops...',
                    text: XMLHTTpRequest.responseText,
                    footer: '<a href="">Why do I have this issue?</a>'
                });
            })
    });

    $("#newBtn").click(function () {
        var searchValue = $("#searchTxt").val();

        $.ajax({
            url: '/Category/Create',
        })
            .done(function (responce) {
                $("#actionContainer").html(responce);
            })
            .fail(function (XMLHTTpRequest, textStatus, errorThrown) {
                swal("Failed!", {
                    icon: 'error',
                    title: 'Oops...',
                    text: XMLHTTpRequest.responseText,
                    footer: '<a href="">Why do I have this issue?</a>'
                });
            })
    });



    var products = [];

    $(".addtocart").click(function () {
        var productID = $(this).attr('data-id');

        products.push(productID);

        $.cookie('CartProducts', products.join('-'), { path :'/'});

        swal("Product added to cart. !", {
            icon: "success",
        });
    });

   function focusAction() {
        $('html,body').animata({
            scrollTop:$("#actionContainer").offset().top -100
            }, 1000);
    }
</script>